*{
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0;
  
}



a{
  text-decoration: none;
}

.top-nav nav {
  background: #bfade7;
  height :70px; 
}

body{
  background: #bfade7; 
  margin: 0;
  padding: 0; 
  overflow: hidden;
}


.side-logo-content{
  display: flex;
  justify-content: space-between;
}

.logo-img img {
  height: 50px;
  width: 50px; 
  margin-top: 10px;
}

.logo-img h3{
  display: inline-block;
  text-decoration: bold;
  color: #fff;
  position: relative;
  top: 20px;
}

.side-bar{ 
  background: #bfade7;
  /* background: #A19F2Bff; */
  width: 200px;
  height: 87vh;
  /* box-shadow: 0px 10px 10px rgba(0,0,0, .3); */
}

.side-bar-title{
  padding-left: 20px;
  display: flex;
}

.side-bar-title img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
   
}

.side-bar-title div{ 
  line-height: 5px;
  padding-top: 18px;
  padding-left: 8px;
  font-size: 14px;
}

.side-bar-title div p{
  font-weight: bold;
}

.side-bar-title span{
  color: #fff; 
}

.side-content{
  display: flex; 
  padding-top: 20px;
  justify-content: end;  
  width: 50%; 
}

.side-content i {
  color: #fff;
  cursor: pointer;
  margin-top: 30px;
}


/* side bar navigationms */
.side-bar-title h5{
  color: #fff;
}

.link-list ul{
  margin-top: 10px;
  padding: 0px; 
}

.link-list ul li{
  cursor: pointer;
}
 
.link-list ul li a{ 
  padding: 10px 18px; 
  display: block;
  width: 100%;
  /* color: #97765b;  */
  color: #fff;
  font-weight: 7000; 
  transition: .2s;
}

.link-list ul li a i{
  color: #9e92bc;
}

.link-list ul a:hover {
  /* background: #A19F2Bff; */
  background: #737286;
  color: #fef501;
  /* background: #CC1104ff; */
}

.link-list ul a:hover i{
  color: #fef501;
}

 

.link-list .list-unstyled{ 
  background: #737286;
}

.link-list .list-unstyled a:hover{
  background: #bfade7;
}


/* contains all content */
.contain_all{ 
  position: absolute;
  top: 87px;
  margin-left: 195px; 
  padding-top: 10px;
  background: #e9ecef;
  border-radius: 10px;  
  height: 86%; 
  width: 85%;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: .3s;
}

/* custom scrollbaar */
.contain_all::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.contain_all::-webkit-scrollbar
{
  width: 12px;
  background-color: #bfade7;
}

.contain_all::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #bfade7;
}

/* page navigation */

.page-navigation{
  position: fixed;
  z-index: 3;
}

.page-navigation .navigation{
  background: #fff;
  display: inline-block;
  padding: 3px 12px;
  border-radius: 25px;
  margin-left: 13px;
  
}

.dash {
  color: #22a7f0;
  
}



.navigation i{
  font-size: 13px;
  padding-left: 3px;
  padding-right: 3px;
  opacity: .3;
  color: #000;
}

.dash i{
  color: #22a7f0;
  opacity: 1;
  
}

.navigation span{
  color: #22a7f0;
}

/* responsive */

.check{
  display: none;
}

#check:checked ~ .side-bar{
  width: 60px;
   
}


#check:checked ~ .side-bar li a{
  padding: 10px;
}

#check:checked ~ .side-bar li span{
  display: none;
}

#check:checked ~ .side-bar button span{
  display: none;
}

#check:checked ~ .side-bar .side-bar-title{
  display: flex;
  flex-direction: column; 
  margin: 0 4px;
  padding: 0;
}

#check:checked ~ .side-bar .side-bar-title span{
  display: none;
}

#check:checked ~ .side-bar .side-bar-title p span{
  display: none;
}

 
#check:checked ~ .contain_all{  
  margin-left: 60px; 
  width: 95%;
}

 

/* searh bar styling */

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}

 

.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out; 
  padding-right: 40px;
  color:#fff;
  background: transparent;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: #9e92bc;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
