/* Coolors Exported Palette - https://coolors.co/090909-a19f2b-de281b-fef204-cc1104 */

/* CSS HEX */
--black: #090909ff;
--old-gold: #A19F2Bff;
--chili-red: #DE281Bff;
--aureolin: #FEF204ff;
--engineering-orange: #CC1104ff;

/* CSS HSL */
--black: hsla(0, 0%, 4%, 1);
--old-gold: hsla(59, 58%, 40%, 1);
--chili-red: hsla(4, 78%, 49%, 1);
--aureolin: hsla(57, 99%, 51%, 1);
--engineering-orange: hsla(4, 96%, 41%, 1);

/* SCSS HEX */
$black: #090909ff;
$old-gold: #A19F2Bff;
$chili-red: #DE281Bff;
$aureolin: #FEF204ff;
$engineering-orange: #CC1104ff;

/* SCSS HSL */
$black: hsla(0, 0%, 4%, 1);
$old-gold: hsla(59, 58%, 40%, 1);
$chili-red: hsla(4, 78%, 49%, 1);
$aureolin: hsla(57, 99%, 51%, 1);
$engineering-orange: hsla(4, 96%, 41%, 1);

/* SCSS RGB */
$black: rgba(9, 9, 9, 1);
$old-gold: rgba(161, 159, 43, 1);
$chili-red: rgba(222, 40, 27, 1);
$aureolin: rgba(254, 242, 4, 1);
$engineering-orange: rgba(204, 17, 4, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #090909ff, #A19F2Bff, #DE281Bff, #FEF204ff, #CC1104ff);
$gradient-right: linear-gradient(90deg, #090909ff, #A19F2Bff, #DE281Bff, #FEF204ff, #CC1104ff);
$gradient-bottom: linear-gradient(180deg, #090909ff, #A19F2Bff, #DE281Bff, #FEF204ff, #CC1104ff);
$gradient-left: linear-gradient(270deg, #090909ff, #A19F2Bff, #DE281Bff, #FEF204ff, #CC1104ff);
$gradient-top-right: linear-gradient(45deg, #090909ff, #A19F2Bff, #DE281Bff, #FEF204ff, #CC1104ff);
$gradient-bottom-right: linear-gradient(135deg, #090909ff, #A19F2Bff, #DE281Bff, #FEF204ff, #CC1104ff);
$gradient-top-left: linear-gradient(225deg, #090909ff, #A19F2Bff, #DE281Bff, #FEF204ff, #CC1104ff);
$gradient-bottom-left: linear-gradient(315deg, #090909ff, #A19F2Bff, #DE281Bff, #FEF204ff, #CC1104ff);
$gradient-radial: radial-gradient(#090909ff, #A19F2Bff, #DE281Bff, #FEF204ff, #CC1104ff);







#0D3B66
#EEEBD3
#696047
BF0603
primary - D4C2FC